* {
  box-sizing: border-box;
}

body {
  color: #eee;
  background-color: #222;
  font-family: monospace;
  margin: 0;
  padding: 2em;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2em;
  font-family: Raleway;
  text-align: center;
  margin: 0;
}

.box-container {
  margin-left: 1px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.margin {
  background: #ff7b00;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.el {
  background-color: white;
}

.padding {
  background: #fffb00;
  padding: 0;
  display: flex;
  flex: 1;
  height: 100%;
}

.border {
  padding: 0;
  background: #92fa1b;
  display: flex;
  flex: 1;
  height: 100%;
}

.content {
  background: #fff;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 10px;
  color: #222;
}

.control-panel {
  display: flex;
  flex-flow: row nowrap;
}

.visibility {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.panel {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  padding-bottom: 1px;
}

.group {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}

.label {
  min-width: 70px;
}

.left {

}

.right {

}

.input {
  padding: 7px 10px;
  background: transparent;
  border-width: 0 0 1px 0;
  color: #eee;
  letter-spacing: 1px;
  border-color: #eee;
  font-family: inherit;
}

.input:focus {
  border-color: #fc830a !important;
  outline: none;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 12px;
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 2em;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 12px;
  width: 12px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
/* .control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #00cbfd;
} */
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 4px;
  top: 2px;
  width: 2px;
  height: 5px;
  border: solid #222;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.margin-chk input:checked ~ .control__indicator {
  background: #ff7b00;
}

.padding-chk input:checked ~ .control__indicator {
  background: #fffb00;
}

.border-chk input:checked ~ .control__indicator {
  background: #92fa1b;
}
